body {
  font-family: Arial, sans-serif;
  background: white;
  padding: 0;
  background: linear-gradient(135deg, #acb6e5 0%, #74ebd5 100%);
}


.top-bar {
  display: flex;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 15px;
  text-align: center;
}

.button-dashboard {
  font-size: 1rem;
  background: #113f67;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button-dashboard:hover{
  background-color: #388E3C;
}

.content {
  display: flex;
  margin: 20px;
}

.right-panel {
  flex: 1;
  padding: 10px;
}

.task-grid {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.task-item {
  padding: 50px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* Styles to match the original schedule */
.task-item h3 {
  margin: 0;
}

.task-item p {
  margin: 5px 0;
}

#remove-task-message {
  margin-top: 10px;
  color: black !important; 
}

/* Additional styles for consistent design */
.grid-row {
  display: flex;
}
