html, body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #acb6e5 0%, #74ebd5 100%);
  padding: 0;
  
}

.top-bar {
  display: flex;
  width: 100%;
  height: 75px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 15px;
  text-align: center;
}

.top-bar h1 {
  font-size: 24px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.content {
  display: flex;
  margin: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.left-panel {
  flex: 1;
  padding: 10px;
}

.buttons-schedule {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-AI{
  background-color: #6495ED;
  color: white;
}

.button-AI:hover {
  background: #388E3C;
}

.button-add {
  background-color: #4CAF50;
  color: white;
}

.button-add:hover {
  background: #388E3C;
}

.button-edit {
  background-color: #2196F3;
  color: white;
}

.button-edit:hover {
  background: #388E3C;
}

.button-remove {
  background-color: #f44336;
  color: white;
}

.button-remove:hover {
  background: #388E3C;
}

.add-task-fields {
  display: none;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.add-task-fields input,
.add-task-fields select,
.add-task-fields button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-task-fields button {
  background-color: #4CAF50;
  color: white;
  border: none;
}

.right-panel {
  flex: 3;
  padding: 10px;
}

.task-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.task-item {
  padding: 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#remove-task-message {
  margin-top: 10px;
  color: black !important; 
}
.button-dashboard{
  color:white;
  background-color: #113f67;
}
.button-dashboard:hover{
  background-color: #388E3C;
}