@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #acb6e5 0%, #74ebd5 100%);
}

.container {
  width: 90%;
  max-width: 800px;
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title-dashboard h1 {
  color: #333;
  margin-bottom: 40px;
}

.buttons-navigate {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

button {
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #113f67;
  color: white;
  cursor: pointer;
  margin: 10px;
  flex: 1 1 40%; /* Ensures buttons have a flexible width but do not shrink below 40% of their container's width */
  transition: background 0.3s ease;
}

button:hover {
  background: #388E3C;
}