@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #74ebd5 0%, #acb6e5 100%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.welcome-message {
  margin-bottom: 40px;
}

.welcome-message h1 {
  color: white;
  font-size: 24px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.login-box {
  background: white;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
  color: #333;
}

.login-field {
  margin-bottom: 20px;
}

.login-label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

.login-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.login-button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background: #113f67;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-button:hover {
  background: #388E3C;
}
.redirect-login {
  font-size: 0.8rem;
  margin-top: 1.4rem;

  text-decoration: none;
}
.text-redirect-login {
  color: red;
}

.text-redirect-login:hover {
  text-decoration: underline;
  cursor: pointer;
}