body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9; /* Lighter background for a modern feel */
    background: linear-gradient(135deg, #acb6e5 0%, #74ebd5 100%);
}

.top-bar {
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    padding: 10px 20px;

}

.top-bar h1 {
    font-size: 24px;
    margin: 0; /* Remove default margin */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.dashboard-button {
    font-size: 1.2rem;
    padding: 8px 8px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #113f67; /* Green button to match the top bar */
    color: white;
    cursor: pointer;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.dashboard-button:hover {
    background-color: #388E3C; /* Darker green on hover for interaction feedback */
}



.chat-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 40px;
    overflow-y: auto;
    height: 500px;
    background-color: #ffffff; /* White background for the chat area to enhance readability */
}

.message-input {
    display: flex;
}

.message-input input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.message-input button {
    padding: 10px 20px;
    background-color: #113f67; /* Green button to match the theme */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.message-input button:hover {
    background-color: #45a049; /* Slightly different green on hover for contrast */
}

.message {
    padding: 5px;
    margin-bottom: 5px;
}

.message-username {
    font-weight: bold;
}

.message-text {
    margin-left: 8px;
}
